%h3 Login

- unless @users.errors.empty?
  .alert.alert-warning
    Login não pode ser efetuado:
    %ul
      - @pre_signed_user.errors.messages.each_value do |message|
        %li= message[0]

= form_tag users_path, method: :post do
  = label :pre_signed_user, :login, "Login", style: 'display: block;'
  = text_field :pre_signed_user, :login, class: 'form-control'

  = label :pre_signed_user, :password, "Senha", style: 'display: block;'
  = password_field :pre_signed_user, :password, class: 'form-control'

  %br
  %br

  = submit_tag 'Enviar', class: 'btn btn-default'

