%h3 Pré-cadastro de novos usuários

- unless @pre_signed_user.errors.empty?
  .alert.alert-warning
    O pré-cadastro não pode ser concluido com sucesso devido as seguintes inconsistencias:
    %ul
      - @pre_signed_user.errors.messages.each_value do |message|
        %li= message[0]

= form_tag pre_signed_users_path, method: :post do
  = label :pre_signed_user, :name, "Nome", style: 'display: block;'
  = text_field :pre_signed_user, :name, class: 'form-control'

  = label :pre_signed_user, :n_usp, "Número USP", style: 'display: block;'
  = text_field :pre_signed_user, :n_usp, class: 'form-control'

  = label :pre_signed_user, :login, "Login", style: 'display: block;'
  = text_field :pre_signed_user, :login, class: 'form-control'

  = label :pre_signed_user, :email, "Email", style: 'display: block;'
  = text_field :pre_signed_user, :email, class: 'form-control'

  = label :pre_signed_user, :password, "Senha", style: 'display: block;'
  = password_field :pre_signed_user, :password, class: 'form-control'

  = label :pre_signed_user, :password_confirmation, "Senha (confirmação)", style: 'display: block;'
  = password_field :pre_signed_user, :password_confirmation, class: 'form-control'

  %br
  %br

  = submit_tag 'Enviar', class: 'btn btn-default'

