%h1 Rede Linux do IME-USP
%h3 Pre-cadastro de novos usuarios

- unless @pre_signed_user.errors.empty?
  #warning
    O pré-cadastro não pode ser concluido com sucesso devido as seguintes inconsistencias:
    %ul
      - @pre_signed_user.errors.messages.each_value do |message|
        %li= message[0]

= form_tag pre_signed_users_path, method: :post do
  = label :pre_signed_user, :name, "Nome", style: 'display: block;'
  = text_field :pre_signed_user, :name

  = label :pre_signed_user, :n_usp, "Número USP", style: 'display: block;'
  = text_field :pre_signed_user, :n_usp

  = label :pre_signed_user, :login, "Login", style: 'display: block;'
  = text_field :pre_signed_user, :login

  = label :pre_signed_user, :email, "Email", style: 'display: block;'
  = text_field :pre_signed_user, :email

  = label :pre_signed_user, :password, "Senha", style: 'display: block;'
  = password_field :pre_signed_user, :password

  = label :pre_signed_user, :password_confirmation, "Senha (confirmação)", style: 'display: block;'
  = password_field :pre_signed_user, :password_confirmation

  %br

  = submit_tag 'Enviar'

= link_to "Voltar à página inicial", root_path
