%h3 Fila de usuários aguardando o cadastramento

%table.col-xs-12
  %tr
    %th Nº USP
    %th Nome
    %th Login
    %th Email
    %th Data de Pré Cadastro
  %tbody
    - @pre_signed_users.each do |user|
      %tr
        %td= user.n_usp
        %td= user.name
        %td= user.login
        %td= user.email
        %td= user.created_pre_signed_at
        %td
          = link_to  pre_signed_users_delete_path(user), method: :delete do
            %span.glyphicon.glyphicon-trash
            Remover
        %td
          = link_to  pre_signed_users_delete_path(user), method: :finish do
            %span.glyphicon.glyphicon-ok
            Finalizar
