!!! 5
%html
  %head
    %title Rede Linux
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          = button_tag type: 'button', class: 'navbar-toggle collapsed', data: {toggle: 'collapse', target: '#bs-example-navbar-collapse-1'}, aria:{expanded: 'false'} do
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Rede Linux do IME-USP', root_path, class: 'navbar-brand active'
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Sobre', welcome_about_path
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', data: {toggle: 'dropdown'}, role: 'button', aria: {haspopup: 'true', expanded: 'false'} do
                Administração
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Horários de atendimento', welcome_hour_path
                %li
                  = link_to 'Contato', welcome_contact_path
                %li.divider{role: :separator}
                %li
                  = link_to 'Adiministrações anteriores', welcome_old_adm_path
            %li
              = link_to 'Regras', welcome_rules_path
            %li
              = link_to printer_status_path do
                %span.glyphicon.glyphicon-print
                Status da Impressora
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to pre_signed_users_new_path do
                %span.glyphicon.glyphicon-user
                Pré-Cadastro
            %li
              = link_to '#' do
                %span.glyphicon.glyphicon-log-in
                Login
            %li
              = link_to '#' do
                %span.glyphicon.glyphicon-envelope
                Webmail
    #main.container
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - elsif flash[:warning]
        .alert.alert-danger= flash[:warning]

      .row
        .col-xs-2
        .col-xs-9
          = yield
